--- 
layout: base.njk 
title: "home"
--- 
<div class = "is-hidden-touch">
    <br />
    <br />
    <br />
</div>
<table class = "top" style = "width: 80%;">
    <tr>
        <td>
            <img class = "author-image" alt="author's image" src = "../static/images/author.jpg" />
        </td>
        <td class = 'is-hidden-touch'>
            <div class = "content has-text-left">
                This should automatically be changed.
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <h1 class = "is-size-4"> Hello, I'm <coral>Sandesh</coral> </h1>
        </td>
        <td  class = 'is-hidden-touch has-text-left	'>
            <h1 class = "is-size-4 teletype-largex"> I am a <coral class = "teletype"></coral> </h1>
        </td>
    </tr>
</table>
<br />
<table class = "bottom is-hidden-desktop">


    <tr>
        <td class ="has-text-centered">
            <h1 class = "is-size-4 teletype-largex"> I am a <coral class = "teletype"></coral> </h1>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <div class = "content has-text-centered" style = "max-width: 70%; margin:auto">
                This should automatically be changed.
            </div>
        </td>
    </tr>
</table>
<style>
    table.top, table.bottom{
        margin: auto;
    }
    table.top tr td:nth-child(1){
        width: 50%;
        text-align: center;
    }
    table.top tr td{
        text-align: center; 
        vertical-align: middle;
    }
</style>
<br />
<br />
<br />
<div style = "text-align: center;">
    You can find me on: 
    <div>
        <br />
        <br />
    </div>
    <span class = "social-icons">
        <i class = "social-icon" data-feather="facebook"></i> &nbsp; &nbsp;  &nbsp;
        <i class = "social-icon" data-feather="twitter"></i> &nbsp; &nbsp; &nbsp; 
        <i class = "social-icon" data-feather="github"></i> &nbsp; &nbsp;  &nbsp;
        <i class = "social-icon" data-feather="mail"></i> &nbsp; &nbsp;  &nbsp;
        <i class = "social-icon" data-feather="instagram"></i> &nbsp; &nbsp; &nbsp; 
    </span>
</div>

<script>
    (function(){
        const element = document.getElementsByClassName("teletype")
        console.log(element)
        function putChar(char){
            // This function outputs the text to each .teletype element
            var current = element[0].innerText
            for(var i =0; i<element.length; i++){
                element[i].innerText = current + char
            }
        }
        function putDesc(description){
            for(var i=0; i<desc.length; i++){
                desc[i].innerText = description
            }
        }
        function clearElements(){
            for(var i =0; i<element.length; i++){
                element[i].innerText = ""
            }
        }
        
        const desc    = document.querySelector(".content")
    
        var stringColl = [
            'Developer', 
            'Student', 
            'Designer',
        ]
        var descColl = [
            `
            I am a polyglot developer. I like to solve coding problems, and have participated in ACM ICPC regionals from Nepal. In my coding time, I am mostly involved with python, and use C++ mostly for solving tough time-dependent issues. I coded this site with mostly my own code!
            `,
            `
            I am a student of computer engineering studying at IOE Pulchowk Campus in Nepal. I am currently in my final year of studies and am interested to pursue my further studies in the field of algorithm development and computer security.
            `,
            `
            In my spare time, I also do designing gigs. I am the creative director at LOCUS 2020, and have been designing since 2016. I can work with logos, mugs, chocolates, tshirts, banners and everything that can be printed or shown off digitally. Hit me up if you are interested in a collaboration. 
            `,
        ]
        var currentIndex  = 0
        var currentString = stringColl[currentIndex]
        var currentPos    = 0
        
        function teleType(){
            if (currentPos < currentString.length){
                $('.content').each(function(index, obj){
                    $(this).text(descColl[currentIndex % descColl.length]);
                });
                $(".content").fadeIn()
                // element.innerText += currentString.charAt(currentPos) 
                putChar(currentString.charAt(currentPos))
                currentPos += 1
                setTimeout(teleType, 100)
            }
            else{
                setTimeout(()=>{
                    currentPos = 0
                    currentIndex += 1
                    clearElements()
                    $(".content").fadeOut(0)
                    currentString = stringColl[currentIndex % stringColl.length]
                    teleType()
                }, 10000)
            }
        }

        teleType()
    })();
</script>