<div class = "text-center">
                    <coral>
                        <h1 style = "font-family: Crimson Text;">
                            {{ title }}
                        </h1>
                    </coral>
                    <br />
                    <i>{{ subtitle }}</i>
                    <br />
                    <br /><br />
                </div>
                <div class = "post_body">
                    {{ content | safe }}
                </div>
                {# Main body end #}