.sitecontainer{
    padding-top: 100px;
}
.content-holder{
    padding-left: 24px;
    padding-right: 24px;
}
.bloglistpage{
    max-width: 80%;
    margin: auto;
}
table.bloglist{
    width: 100%;
}
table.bloglist tr td{
    vertical-align: middle;
}
table.bloglist tr td:nth-child(1){
    text-align: center;
}