.responsive-br{
    display: none;
}
.teletype-small{
    display: none;
}
@media screen and (max-width: 1080px){
    .sitecontainer{
        margin: 0 auto;
    }

    nav {
        display: none;
    }

    .desc-large{
        display: none;
    }
    .description .content{
        color: #333;
        text-align: center;
        max-width: 90%;
        margin-top: -80px;
    }
    .clearfix_large_br_three{
        display: none;
    }
    .author-image{
        width: 192px;
        height: 192px;
    }
    .me-intro{
        margin-top: -40px;
    }
    .bottom-social-contacts{
        margin-top: -100px;
    }
    .responsive-br{
        display: inherit;
    }
}
